@{
    ViewBag.Title = "Contact";
}

<h2></h2>
<h3></h3>

<address>
    <strong>Deloitte:</strong>   <a href="mailto:jmuro@deloitte.es">jmuro@deloitte.es</a><br />
    <strong>Personal:</strong>   <a href="jmuro77@hotmail.com">jmuro77@hotmail.com</a><br />
</address>