@using Jamuro.AdventureWorks.Resources

@model Jamuro.AdventureWorks.SimpleDemo.ViewModels.ProductViewModel

@{
    ViewBag.Title = Model.Title();
}

<h1>@Labels.AllBikesWithCheckWIthExistsTitle</h1>
<h2>@Labels.NotAffectedForCheckingExistence</h2>

@section ElapsedTime{
    <hr/>
    <p class="elapsed-time"> @Html.Encode(ViewBag.elapsedTime) </p>
    <hr/>
}

<hr />
@Html.Partial("_BikesList", Model)

