@using Jamuro.AdventureWorks.Resources

@model Jamuro.AdventureWorks.SimpleDemo.ViewModels.EntityFrameworkViewModel

@{
    ViewBag.Title = Model.Title();
}

<h1>Entity Framework</h1>
<hr />

<div class="row">
    <div class="col-md-12">
        <h2>Global EF Architecture</h2>
        <p></p>
        <p class="text-center"><img src="@Url.GetImage("EntityFramework/EF-architecture.PNG")"/></p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h2>DBContext Class</h2>
        <p></p>
        <p class="text-center"><img src="@Url.GetImage("EntityFramework/DBcontext.1.PNG")"/></p>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <h2>DBContext Class Entities</h2>
        <p></p>
        <p class="text-center"><img src="@Url.GetImage("EntityFramework/DBcontext.2.PNG")"/></p>
    </div>
</div>

