@using Jamuro.AdventureWorks.Resources

@model Jamuro.AdventureWorks.SimpleDemo.ViewModels.EntityFrameworkViewModel

@{
    ViewBag.Title = Model.Title();
}

<h1>Entity Framework</h1>
<p class="text-info">(@Labels.OnlySpanishVersion)</p>
<hr />

<div class="row">
    <div class="col-md-12">
        <h2>Arquitectura EF</h2>
        <p></p>
        <p class="text-center"><img class="img-ef" src="@Url.GetImage("EntityFramework/EF-architecture.PNG")"/></p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h2>Clase DBContext</h2>
        <p></p>
        <p class="text-center"><img class="img-ef" src="@Url.GetImage("EntityFramework/DBcontext.1.PNG")"/></p>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <h2>Entidades DBContext</h2>
        <p></p>
        <p class="text-center"><img class="img-ef" src="@Url.GetImage("EntityFramework/DBcontext.2.PNG")"/></p>
    </div>
</div>

