@using Jamuro.AdventureWorks.Resources

@model Jamuro.AdventureWorks.SimpleDemo.ViewModels.EntityFrameworkViewModel

@{
    ViewBag.Title = Model.Title();
}

<div class="row">
    <div class="col-md-12">
        <h2>Global EF Architecture</h2>
        <p></p>
        <p class="text-center"><img src="~/Content/Images/EntityFramework/EF-architecture.PNG" /></p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h2>DBContext Class</h2>
        <p></p>
        <p class="text-center"><img src="~/Content/Images/EntityFramework/DBcontext.1.png" /></p>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <h2>DBContext Class Entities</h2>
        <p></p>
        <p class="text-center"><img src="~/Content/Images/EntityFramework/DBcontext.2.png" /></p>
    </div>
</div>

