@using Jamuro.AdventureWorks.Resources

@model Jamuro.AdventureWorks.SimpleDemo.ViewModels.LinqViewModel

@{
    ViewBag.Title = Model.Title();
}

<h1>LINQ</h1>
<hr/>

<div class="row">
    <div class="col-md-12">
        <h2>LINQ Overview</h2>
        <p>(Extracted from <a href="https://www.TutorialsTeacher.com" target="_blank">TutorialTeacher.com</a>)</p>
        <p class="text-center"><img src="~/Content/Images/Linq/Linq-usage.PNG" /></p>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-12">
        <h2>Enumerable Extension Methods</h2>
        <p></p>
        <p class="text-center"><img src="~/Content/Images/Linq/Enumerable-extension-methods.png" /></p>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-12">
        <h2>Queryable Extension Methods</h2>
        <p></p>
        <p class="text-center"><img src="~/Content/Images/Linq/Queryable-extension-methods.png" /></p>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-12">
        <h2>LINQ Query Syntax</h2>
        <p></p>
        <p class="text-center"><img src="~/Content/Images/Linq/Linq-query-syntax.png" /></p>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-12">
        <h2>LINQ Method Syntax</h2>
        <p></p>
        <p class="text-center"><img src="~/Content/Images/Linq/Linq-method-syntax.png" /></p>
    </div>
</div>
<hr />
