@using Jamuro.AdventureWorks.Resources

<h1>SQL Server Indexes</h1>
<p class="text-info">(@Labels.OnlySpanishVersion)</p>
<hr />
<div class="row">
    <div class="col-md-12">
        <div>
            @*<button class="toogle-details btn btn-dark">Show/Hide Details</button>*@
        </div>
        <div class="toogle-details-content">           
            <h2>¿Qué es un Indice?</h2>
            <img class="img-ppt" src="~/Content/Images/SQLIndexes/ORM.SQLIndexes.1.JPG" /><hr/>
            <h2>Tipos de Indices</h2>
            <img class="img-ppt" src="~/Content/Images/SQLIndexes/ORM.SQLIndexes.2.JPG" /><hr />
            <h2>Indices Agrupados</h2>
            <p class="text-info">(Attached "Create Chemistry Elements Table.sql" sample file in "SQLScripts" folder inside "Jamuro.AdventureWorks.Resources" project)</p>
            <img class="img-ppt" src="~/Content/Images/SQLIndexes/ORM.SQLIndexes.3.JPG" /><hr />
            <h2>Indices No Agrupados</h2>
            <img class="img-ppt" src="~/Content/Images/SQLIndexes/ORM.SQLIndexes.4.JPG" /><hr />
            <h2>¿Cómo funciona un índice por dentro?</h2>
            <img class="img-ppt" src="~/Content/Images/SQLIndexes/ORM.SQLIndexes.5.JPG" /><hr />
            <h2>Estadísticas</h2>
            <img class="img-ppt" src="~/Content/Images/SQLIndexes/ORM.SQLIndexes.6.JPG" /><hr />
            <h2></h2>
            <img class="img-ppt" src="~/Content/Images/SQLIndexes/ORM.SQLIndexes.7.JPG" /><hr />
            <h2>Consideraciones sobre fragmentación</h2>
            <img class="img-ppt" src="~/Content/Images/SQLIndexes/ORM.SQLIndexes.8.JPG" /><hr />
        </div>
    </div>
</div>