@using Jamuro.AdventureWorks.Resources

<h1>SQL Indexes</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <h2>Overview</h2>
        <p class="text-center"><img src="~/Content/Images/UnderConstruction.png" /></p>
    </div>
</div>
<hr />