@using Jamuro.AdventureWorks.Resources

<h1>SQL Monitorization</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <h2>SQL Server Profiler</h2>
        <p class="text-center"><img src="~/Content/Images/UnderConstruction.png" /></p>
    </div>
</div>
<hr />
<div class="row">   
    <div class="col-md-12">
        <h2>SQL Server Extended Events</h2>
        <p class="text-center"><img src="~/Content/Images/UnderConstruction.png" /></p>
    </div>
</div>
<hr />