@using Jamuro.AdventureWorks.Resources

<h1>@Labels.SQLResourceOptimization</h1>
<p class="text-info">(@Labels.OnlySpanishVersion)</p>
<hr />

<div class="row">
    <div class="col-md-12">
        <h2>Overview</h2>
        <div>
            @*<button class="toogle-details btn btn-dark">Show/Hide Details</button>*@
        </div>
        <div class="toogle-details-content">
            <img class="img-ppt" src="@Url.GetImage("SQLResourceOptimization/ORM.SQLResourceOptimization.1.JPG")" />
        </div>
    </div>
</div>
