@using Jamuro.AdventureWorks.Resources
@using Jamuro.AdventureWorks.SimpleDemo.ViewModels

@model WaitingWindowViewModel

<div id="@Model.Name" class="modal">
    <!-- Modal content -->
    <div class="modal-content-preloader text-center">
        <p style="font-size:2em">@Model.Message...</p>
        <img style="width:50%" src="/content/images/Preloader.1.gif" alt="@Labels.Waiting"/>
    </div>
</div>



