@using Jamuro.AdventureWorks.Resources

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>@ErrorMessages.Error_SomethingWasWrong</h1>       
    </hgroup>
    <p>@ErrorMessages.Error_Message</p>
    <p>@ErrorMessages.Error_AlreadyLogged</p>
</body>
</html>
