<p>
    En mi opinión es muy recomendable el uso de los siguientes componentes a fin de monitorizar la actividad de nuestras aplicaciones, aplicar las mejores prácticas de codificación y mejorar el rendimiento.
    <ul>
        <li>
            <a href="https://docs.microsoft.com/en-us/sql/tools/sql-server-profiler/sql-server-profiler?view=sql-server-2017" target="_blank">SQL Server Profiler</a><br />(Sin soporte, pero muy útil todavía)
        </li>
        <li>
            <a href="https://docs.microsoft.com/en-us/sql/relational-databases/extended-events/extended-events?view=sql-server-2017" target="_blank">SQL Server Extended Events</a><br />(Muy ligero, altamente escalable y configurable)
        </li>
        <li><a href="https://www.sonarlint.org/visualstudio/" target="_blank">SonarLint</a><br />(Extensión para Visual Studio)</li>
        <li>
            <a href="https://www.linqpad.net/" target="_blank">LINQPad</a><br />(Herramienta de testing para .Net)
        </li>
        <li>
            <a href="https://github.com/ErikEJ/SqlQueryStress" target="_blank">SQL Query Stress</a><br />(Pruebas de Carga con SQL)
        </li>
    </ul>
</p>   
