<p>
    Esta aplicación de demostración hace uso de las siguientes tecnologías:
    <ul>
        <li><a href="https://blogs.msdn.microsoft.com/dotnet/2017/10/26/entity-framework-6-2-runtime-released/" target="_blank">EntityFramework 6</a><br />(Object Relational Mapper)</li>
        <li><a href="https://logging.apache.org/log4net/" target="_blank">Log4Net</a><br />(Herramienta de Logging)</li>
        <li><a href="https://github.com/devtrends/Unity.Mvc5" target="_blank">Unity para ASP.Net MVC</a><br />(Inyección de dependencias)</li>
        <li><a href="https://blogs.msdn.microsoft.com/webdev/2014/07/29/profile-and-time-your-asp-net-mvc-app-all-the-way-to-azure/" target="_blank">StopWatch NuGet package</a><br />(Medición de tiempos de respuesta)</li>
    </ul>
</p>
<p class="text-center"><img class="img-thumbnail" src="@Url.GetImage("ORM.Capture.2.PNG")" /></p>   
