<p>
    I strongly recommend the use of the following components in order to monitor activity, apply best practices for coding and boost performance:
    <ul>
        <li>
            <a href="https://docs.microsoft.com/en-us/sql/tools/sql-server-profiler/sql-server-profiler?view=sql-server-2017" target="_blank">SQL Server Profiler</a><br />(Obsolete, but still useful)
        </li>
        <li>
            <a href="https://docs.microsoft.com/en-us/sql/relational-databases/extended-events/extended-events?view=sql-server-2017" target="_blank">SQL Server Extended Events</a><br />(Highly scalable and configurable tool to troubleshoot SQL performance issues)
        </li>
        <li><a href="https://www.sonarlint.org/visualstudio/" target="_blank">SonarLint</a><br />(IDE extension for Visual Studio)</li>
        <li>
            <a href="https://www.linqpad.net/" target="_blank">LINQPad</a><br />(Lightweight testing tool for .Net)
        </li>
        <li>
            <a href="https://github.com/ErikEJ/SqlQueryStress" target="_blank">SQL Query Stress</a><br />(SQL query stress simulator)
        </li>
    </ul>
</p>      
